h3 {
    font-style: italic;
}

.banner {
    background-image: url("/images/banners/Home_Photo.png");
}

.offer, .unique {
    margin-bottom: 40px;
    text-align: center;
}

.unique {
    margin-bottom: 20px;
}

.icon {
    height: 160px;
    width: 256px;
}

.unique p, .unique h3 {
    display: inline-block;
    text-align: left;
    width: 296px;
}

#map, #darkhex, #randd {
    margin: 32px 0 32px 0;
    height: 192px;
    width: 300px;
}

