body {
    background-color: #3f020a;
    color: #800112;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

a {
    color: #ff0000;
}

header, main {
    background-color: #ebebeb;
}

nav {
    margin-top: -38px;
    margin-bottom: 40px;
}

nav li {
    display: inline;
    font-size: 16px;
    margin-right: 40px;
}

nav a {
    color: #800112;
    text-decoration: none;
}

nav a:hover {
    color: #ff0000;
}

footer {
    border-top: #ff0000 solid 7px;
    color: #ffffff;
    padding: 24px 0 20px 0;
}

h2 {
    font-size: 42px;
    margin-bottom: 28px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

.active {
    border-bottom: 3px solid #800112;
}

.banner {
    background-position: top center;
    background-size: cover;
    border-top: #ff0000 solid 7px;
    border-bottom: #ff0000 solid 7px;
    color: #ffffff;
    font-size: 18px;
    height: 412px;
    position: relative;
}

.banner-caption {
    background-color: rgba(0, 0, 0, .6);
    bottom: 0;
    padding: 15px 0 10px 0;
    position: absolute;
    width: 100%;
}

.odd {
    background-color: #ffffff;
}

.odd, .even {
    padding: 20px 0 20px 0;
}

.logo-box {
    height: 120px;
    position: relative;
    overflow: hidden;
}

#logo-words {
    left: 0;
    margin-top: 40px;
    height: 40px;
    position: absolute;
}

#logo-hex {
    height: 40px;
    margin-top: 60px;
    position: absolute;
    right: 0px;
}

#welcome {
    font-weight: 300;
}

