html {
  font-size: 16px;
  margin: 0; }

body {
  background-color: #ffffff;
  color: #800112;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem; }

h1 {
  font-size: 2rem; }

header {
  background-color: #3f010b;
  border-top: 7px solid #ff0000; }
  @media (max-width: 991px) {
    header {
      background-color: #ebebeb;
      border-top: 0; } }

#logo-box {
  height: 144px;
  position: relative; }
  #logo-box #logo-words {
    position: absolute;
    left: 0;
    height: 44px;
    margin-top: 37px; }
  #logo-box #logo-hex {
    position: absolute;
    right: 0;
    height: 144px; }

#mobile-logo {
  padding: 24px 0 28px 0;
  text-align: center; }

#welcome {
  font-weight: 300; }

#mobile-hex {
  height: auto;
  width: 42px; }

nav {
  margin-top: -60px;
  font-size: 1.2rem;
  font-weight: 400; }
  @media (max-width: 991px) {
    nav {
      font-size: 1rem;
      margin: -16px 0 16px 0;
      text-align: center; } }
  nav ul {
    list-style: none; }
    nav ul a, nav ul a:hover, nav ul .active, nav ul #mobile-menu a:hover, #mobile-menu nav ul a:hover, nav ul #mobile-menu .active, #mobile-menu nav ul .active {
      color: #ffffff;
      text-decoration: none; }
      nav ul a:hover, nav ul .active, nav ul #mobile-menu a:hover, #mobile-menu nav ul a:hover, nav ul #mobile-menu .active, #mobile-menu nav ul .active {
        border-bottom: 3px solid #ffffff; }
    nav ul li {
      display: inline;
      margin-right: 2.3rem; }

#facilities-dropdown {
  background-color: #3f010b;
  border-bottom: 7px solid #ff0000;
  border-radius: 0; }
  #facilities-dropdown li {
    margin: 0; }
  #facilities-dropdown a, #facilities-dropdown nav ul .active, nav ul #facilities-dropdown .active, #facilities-dropdown #mobile-menu a:hover, #mobile-menu #facilities-dropdown a:hover, #facilities-dropdown #mobile-menu .active, #mobile-menu #facilities-dropdown .active {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    margin: 8px 0 8px 0; }
    #facilities-dropdown a:hover, #facilities-dropdown nav ul .active, nav ul #facilities-dropdown .active, #facilities-dropdown #mobile-menu .active, #mobile-menu #facilities-dropdown .active {
      background-color: #ebebeb;
      color: #800112; }

#mobile-menu a, #mobile-menu a:hover, #mobile-menu .active {
  color: #800112; }
  #mobile-menu a:hover, #mobile-menu .active {
    border-bottom: 3px solid #800112; }
@media (max-width: 624px) {
  #mobile-menu li {
    display: block;
    padding: 12px; } }
#mobile-menu #facilities-dropdown {
  background-color: #ebebeb;
  color: #800112; }
  nav ul #mobile-menu #facilities-dropdown .active, #mobile-menu #facilities-dropdown nav ul .active, #mobile-menu nav ul #facilities-dropdown .active, #mobile-menu #facilities-dropdown a:hover, #mobile-menu #facilities-dropdown .active {
    color: #ff0000;
    border-color: #ff0000; }

#banner {
  background-color: #666666;
  border-bottom: 7px solid #ff0000;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400; }
  @media (max-width: 991px) {
    #banner {
      border-bottom: 0;
      border-top: 7px solid #ff0000;
      background-color: #ffffff;
      color: #800112;
      font-size: 0.9rem;
      font-style: italic;
      padding-top: 16px; } }
  #banner .carousel-indicators {
    margin-left: 0px; }
  #banner #bannerCarousel {
    height: 412px; }
    #banner #bannerCarousel .wrapper {
      overflow: hidden; }
    #banner #bannerCarousel img {
      height: 412px; }
  #banner #banner-caption {
    padding: 12px 0 8px 0;
    width: 100%; }

footer {
  background-color: #3f010b;
  border-top: 7px solid #ff0000;
  color: #ffffff;
  font-size: 0.8rem;
  padding: 24px 0 20px 0; }
  @media (max-width: 624px) {
    footer {
      text-align: center; } }

/*# sourceMappingURL=main.css.map */
