// Fonts + Colors 
$font-stack: Lato, 'Open Sans', sans-serif;
$maroon-text: #800112;
$maroon-bg: #3f010b;
$light-grey: #ebebeb;
$caption-grey: #666666;
$redline: 7px solid #ff0000;

// Breakpoints
$base_font_size: 16px;
$tabletsize: 991px; // OR: 61.938rem w/ 16px base
$phonesize: 767px; // OR: 39.000rem w/ 16px base
$large_banner: 1509px;
$med_banner: 1199px;
