$font-stack: 'Open Sans', sans-serif;
$maroon-text: #800112;
$maroon-bg: #3f010b;
$light-grey: #ebebeb;
$caption-grey: #666666;
$redline: 7px solid #ff0000;

html {
  font-size: 16px;
  margin: 0;
}

body {
  background-color: $light-grey;
  color: $maroon-text;
  font-family: $font-stack;
  font-weight: 400;
  font-size: 1rem;
}

header {
  background-color: $maroon-bg;
  border-top: $redline;
}

#logo-box {
  height: 144px;
  position: relative;
  #logo-words {
    position: absolute;
    left: 0;
    height: 44px;
    margin-top: 37px;
  }
  #logo-hex {
    position: absolute;
    right: 0;
    height: 144px;
  }
}

nav {
  margin-top: -60px;
  font-size: 1.1rem;
  font-weight: 400;
  ul {
    list-style: none;
    a {
      color: #ffffff;
      text-decoration: none;
      &:hover {
        border-bottom: 3px solid #ffffff;
        color: #ffffff;
        text-decoration: none;
      }
    }
    li {
      display: inline;
      margin-right: 2.5rem;
    }
    .active {
      border-bottom: 3px solid #ffffff;
      color: #ffffff;
    }
  }
}

#banner {
  background-color: $caption-grey;
  border-bottom: $redline;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
  .carousel-indicators {
    margin-left: 0px;
  }
  #bannerCarousel {
    height: 412px;
    .wrapper {
      overflow: hidden;
    }
    img {
      height: 412px;
      overflow: hidden;
    }
  }
  #banner-caption {
    padding: 12px 0 8px 0;
    width: 100%;
  }
}

#facilities-dropdown {
  background-color: $maroon-bg;
  border-bottom: 7px solid #ff0000;
  border-radius: 0;
  li {
    margin: 0;
  }
  a {
    color: #ffffff;
    font-family: $font-stack;
    font-size: 1rem;
    margin: 8px 0 8px 0;
    &:hover {
      background-color: #ebebeb;
      color: $maroon-text;
    }
  }
}

