@import 'variables.scss';

/*****************************************************************************
 
 STYLES

 *****************************************************************************/

html, body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: $base_font_size;
  margin: 0;
}

body {
  background-color: #ffffff;
  color: $maroon-text;
  font-family: $font-stack;
  font-weight: 400;
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

header {
  @media (max-width: $tabletsize) {
    background-color: $light-grey;
    border-top: 0;
  }

  background-color: $maroon-bg;
  border-top: $redline;
}

#logo-box {
  height: 144px;
  position: relative;
  #logo-words {
    position: absolute;
    left: 0;
    height: 44px;
    margin-top: 37px;
  }
  #logo-hex {
    position: absolute;
    right: 0;
    height: 144px;
  }
}

#mobile-logo {
    padding: 24px 0 28px 0;
    text-align: center;
}

#welcome {
    font-weight: 300;
}

#mobile-hex {
    height: auto;
    width: 42px;
}

nav {
  margin-top: -60px;
  font-size: 1.2rem;
  font-weight: 400;
  @media (max-width: $tabletsize) {
    font-size: 1rem;
    margin: -16px 0 16px 0;
    text-align: center;
  }
  ul {
    list-style: none;
    a {
      color: #ffffff;
      text-decoration: none;
      &:hover {
        @extend a;
        border-bottom: 3px solid #ffffff;
      }
    }
    li {
      display: inline;
      margin-right: 2.3rem;
    }
    .active {
      @extend a:hover;
    }
  }
}

#facilities-dropdown {
  background-color: $maroon-bg;
  border-bottom: 7px solid #ff0000;
  border-radius: 0;
  li {
    margin: 0;
  }
  a {
    color: #ffffff;
    font-family: $font-stack;
    font-size: 1rem;
    margin: 8px 0 8px 0;
    &:hover {
      background-color: #ebebeb;
      color: $maroon-text;
    }
  }
}

#mobile-menu {
  a {
    color: $maroon-text;
    &:hover {
      @extend a;
      border-bottom: 3px solid $maroon-text;
    }
  }
  li {
    @media (max-width: $phonesize) {
      display: block;
      padding: 12px;
    }
  }
  .active {
    @extend a:hover;
  }
  #facilities-dropdown {
    background-color: $light-grey;
    color: $maroon-text;
    a {
      &:hover {
        color: #ff0000;
        border-color: #ff0000;
      }
    }
  }
}

#banner {
  margin: 0 auto;
  background-color: $caption-grey;
  border-bottom: $redline;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
  @media (max-width: $tabletsize) {
    border-bottom: 0;
    border-top: $redline;
    background-color: #ffffff;
    color: $maroon-text;
    font-size: 0.9rem;
    font-style: italic;
    padding-top: 16px;
  }
  .carousel-indicators {
    // margin-left: 0px;
  }
  #bannerCarousel {
    height: 412px;
    .wrapper {
      overflow: hidden;
    }
    img {
      height: 412px;
    }
  }
  #banner-caption {
    padding: 12px 0 8px 0;
    width: 100%;
  }
}

footer {
  background-color: $maroon-bg;
  border-top: $redline;
  color: #ffffff;
  font-size: 0.8rem;
  padding: 24px 0 20px 0;
  @media (max-width: $phonesize) {
    text-align: center;
  }
}

.even {
  background-color: $light-grey;
}

h2 {
    font-size: 2rem;
    margin-bottom: 28px;
    margin-top: 36px;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

main p {
  font-size: 0.9rem;
  padding-bottom: 24px;
}

