@import 'variables.scss';
@import 'compass/css3/transition';
@import 'compass/css3/box-shadow';
@import 'compass/css3/border-radius';

/*****************************************************************************
 
 STYLES

 *****************************************************************************/

html, body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: $base_font_size;
  margin: 0;
}

body {
  background-color: #ffffff;
  color: $maroon-text;
  font-family: $font-stack;
  font-weight: 400;
  font-size: 1rem;
}

row {
  display: table;
}

h1 {
  font-size: 2rem;
}

p {
  text-align: justify;
}

@media (max-width: $tabletsize) {
  .row #{headings(all)} {
    text-align: center;
  }
}

header {
  @media (max-width: $tabletsize) {
    background-color: $light-grey;
    border-top: 0;
  }

  background-color: $maroon-bg;
  border-top: $redline;
}

#logo-box {
  height: 144px;
  position: relative;
  #logo-words {
    position: absolute;
    left: 0;
    height: 44px;
    margin-top: 37px;
  }
  #logo-hex {
    position: absolute;
    right: 0;
    height: 144px;
  }
}

#mobile-logo {
    padding: 24px 0 28px 0;
    text-align: center;
}

#welcome {
    font-weight: 300;
}

#mobile-hex {
    height: auto;
    width: 42px;
}

nav {
  margin-top: -60px;
  font-size: 1.2rem;
  font-weight: 400;
  @media (max-width: $tabletsize) {
    font-size: 1rem;
    margin: -16px 0 16px 0;
    text-align: center;
  }
  ul {
    list-style: none;
    a {
      color: #ffffff;
      text-decoration: none;
      @include transition-property(all);
      @include transition-duration(0.5s);
      &:hover {
        @extend a;
        border-bottom: 3px solid #ffffff;
      }
    }
    li {
      display: inline;
      margin-right: 2.3rem;
    }
    .active {
      @extend a:hover;
    }
  }
}

#facilities-dropdown {
  background-color: $maroon-bg;
  border-bottom: $redline;
  border-radius: 0;
  li {
    margin: 0;
  }
  a {
    color: #ffffff;
    font-family: $font-stack;
    font-size: 1rem;
    margin: 8px 0 8px 0;
    &:hover {
      background-color: $light-grey;
      color: $maroon-text;
      border: 0px;
    }
  }
}

#mobile-menu {
  font-size: 1.1rem;
  a {
    color: $maroon-text;
    &:hover {
      @extend a;
      border-bottom: 3px solid $maroon-text;
    }
  }
  @media (max-width: $phonesize) {
    font-size: 1rem;
    li {
      display: block;
      padding: 12px;
    }
  }
  .active {
    @extend a:hover;
  }
  #phone-facilities-dropdown {
    border: $redline;
    border-width: 3px 0;
    margin-top: 8px;
    padding: 0;
    li {
      margin: 0;
    }
  }
  #tab-facilities-dropdown {
    background-color: $light-grey;
    border-bottom: $redline;
    border-radius: 0;
    li {
        margin: 8px 0 8px 0;
    }
    a {
      border-bottom: 3px solid $light-grey;
      &:hover {
        @extend a;
        background-color: $light-grey;
        border-color: #ff0000;
        color: #ff0000;
      }
    }
  }
}

#banner {
  margin: 0 auto;
  background-color: $caption-grey;
  border-bottom: $redline;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
  @media (max-width: $tabletsize) {
    border-bottom: 0;
    border-top: $redline;
    background-color: #ffffff;
    color: $maroon-text;
    font-size: 0.9rem;
    padding-top: 16px;
  }
  .carousel-indicators {
    margin-left: 0px;
  }
  #bannerCarousel {
    border-bottom: 7px solid $maroon-bg;
    .banner-img {
      height: 412px;
      background-position: top center;
      background-size: contain;
      background-repeat: no-repeat;
      @media (max-width: $large_banner) {
          height: 325px;
      }
      @media (max-width: $med_banner) {
          height: 270px;
      }
    }
    #banner1 {
      background-image: url(../images/banners/USA_Facilities_1.jpg);
    }
    #banner2 {
      background-image: url(../images/banners/USA_Facilities_2.jpg);
    }
    #banner3 {
      background-image: url(../images/banners/China_Facilities_1.jpg);
    }
    #banner4 {
      background-image: url(../images/banners/China_Facilities_2.jpg);
    }
    #banner5 {
      background-image: url(../images/banners/Home_1.jpg);
    }
    #banner6 {
      background-image: url(../images/banners/Home_2.jpg);
    }
    #banner7 {
      background-image: url(../images/banners/Services_1.jpg);
    }
    #banner8 {
      background-image: url(../images/banners/About_1.jpg);
    }
  }
  #banner-caption {
    width: 100%;
    margin: 0;
    padding: 12px 0 8px 0;
    width: 100%;
    font-size: 0.9rem;
    font-style: italic;
    @media (min-width: $large_banner) {
      margin-left: -25%;
      margin-right: -25%;
      width: 150%;
      p {
        text-align: center;
      }
    }
  }
}

footer {
  margin-top: 10px;
  padding: 24px 0 20px 0;
  background-color: $maroon-bg;
  border-top: $redline;
  color: #ffffff;
  font-size: 0.8rem;
  @media (max-width: $phonesize) {
    text-align: center;
  }
}

.even {
  background-color: $light-grey;
}

h2 {
    font-size: 2rem;
    margin-bottom: 28px;
    margin-top: 36px;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

main {
  p {
    font-size: 0.9rem;
    padding-bottom: 24px;
  }
  a {
    color: #ff0000;
    &:visited, &:hover {
      color: #ff0000;
    }
  }
}

.news-date {
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 8px;
}


/*****************************************************************************
 
COMPASS AESTHETIC STYLES

 *****************************************************************************/

#facilities-dropdown {
  @include box-shadow(5px 5px 10px black);
  @include border-radius();
}

.callout-block {
  float: right;
  position: relative;
  text-align: center;
}

@mixin callout-image() {
  position: relative;
  margin: 100px 3em 3em 3em;

  @include single-box-shadow();
  @include border-radius();

  @media (max-width: $tabletsize) {
    display: none;
  }
}

.callout-image--small {
  @include callout-image();
  max-width: 250px;
}

.callout-image--medium {
  @include callout-image();
  max-width: 300px;
}

.callout-image--large {
  @include callout-image();
  max-width: 500px;
}

@mixin callout-caption-base($bottom) {
  position: relative;
  width: 75%;
  margin: 0 auto;
  bottom: $bottom;
  text-align: center;
  font-style: italic;

  @media (max-width: $tabletsize) {
    display: none;
  }
}

.callout-caption {
  @include callout-caption-base(0em);
}

#production-first-reactor-callout {
  clear: left;
  img {
    margin-right: 0;
    margin-left: 5px;
    max-width: 350px;
  }
  @media (min-width: $med-banner) {
    margin-right: 40px;
  }
}

#production-second-reactor-callout {
}

.production-callout-image {
  margin-bottom: 3em;
}

#production-callout-image-large {
  margin-top: 32px;
  max-width: 440px;
}

.sourcing-advantage {
  padding: 0;
  font-weight: bold;

  a {
    text-decoration: none;
  }
}

.services-rnd-callout-caption {
  @include callout-caption-base(2.5em);
}

.services-rnd-callout-image {
  margin-left: 5em;
  margin-right: 5em;
  max-height: 200px;
}

.production-callout-caption {
  @include callout-caption-base(2em);
}

.china-rnd-callout-caption {
  @include callout-caption-base(2.5em);
}

.china-callout {
  margin-top: 125px;
  margin-right: -20px;
}

.china-callout2 {
  margin-top: 50px;
}

.about-callout-caption {
  @include callout-caption-base(2.5em);
  width: 80%;
}

.about-callout-image {
  margin-left: 3em;
}

.about-callout-block {
    width: 40%;
}

.production-callout-image {
  margin-bottom: 3em;
}

#rnd-usa-first-large-callout {
  max-width: 460px;
  margin-top: 5px;
  margin-left: 5em;
}

#rnd-usa-large-callout {
  margin-top: -25px;
  max-width: 460px;
}

#rnd-large-callout-caption {
  width: 100%;
}

.sourcing-advantage {
  padding: 0;
  font-weight: bold;
}

.contact-callout {
  margin-right: 50px;
  margin-top: -12px;
}
